.home-container {
  text-align: center;
}

.about-cta {
  transition: padding-right 250ms ease-in-out;

  &::after {
    content: '->';
    margin-left: -15px;
    opacity: 0;
    transition-property: margin-left, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }

  &:hover::after {
    margin-left: 8px;
    opacity: 1;
  }
}

.connect-links {
  display: flex;
  justify-content: center;
  gap: 1rem;

  svg {
    height: 32px;
    width: 32px;
  }

  svg:hover {
    color: var(--color-blue);
  }
}
