@import '../global.scss';

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;

  .title {
    margin: 0;
    padding: 0;
  }

  .subtitle {
    font-style: italic;
  }

  .content {
    margin: 0;
  }
}
