.nav {
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-dark);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mobileMenu {
  display: none;
}

.menuContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 0 2rem;

  .navHeading {
    font-size: 1.25rem;
    margin-right: auto;
    font-weight: 400;
  }

  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 1.5rem;
    list-style: none;
  }
}

.themeToggler {
  background-color: var(--color-dark);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Dark theme styles */
/* #app[data-theme='dark'] {
  .nav {
    border-bottom: 2px solid var(--color-light);
    background-color: var(--color-dark);
    .menuContainer {
      .themeToggler {
        background-color: var(--color-light);
      }
    }
  } */

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: 65px;

    button {
      scale: 1.25;
    }
  }

  .mobileMenu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    button {
      background-color: var(--color-dark);
      color: var(--color-light);
      border: none;
      border-radius: 5px;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button svg {
      transition: transform 500ms ease-in-out;
    }

    button.open svg {
      transform: rotate(180deg);
    }
  }

  .mobileHeading {
    font-size: 1.25rem;
  }

  .menuContainer {
    position: absolute;
    background-color: var(--color-light);
    padding: 0;
    width: 100dvw;
    transition: height 500ms ease-in-out;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;

    ul,
    .themeToggler {
      width: 100%;
      flex-direction: column;
      align-items: center;
      transition: opacity 500ms ease-in-out;
    }

    ul {
      font-size: 1.5rem;
    }
  }

  .navHeading {
    display: none;
  }

  .menuContainer.closed {
    height: 0px;

    ul,
    .themeToggler {
      opacity: 0;
    }
  }

  .themeToggler {
    padding: 0.5rem 2rem;
  }

  /*   Mobile dark theme styles */
  /* #app[data-theme='dark'] {
    .nav {
      .mobileMenu {
        button {
          background-color: var(--color-light);
          color: var(--color-dark);
        }
      }

      .menuContainer {
        background-color: var(--color-dark);
      }
    }
  }
} */
}
