@import '../global.scss';

nav {
  // padding: 0.5rem 1.5rem;
  border-bottom: 1px solid $color-dark;

  .mobile-menu {
    display: none;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

    ul {
      display: flex;
      flex-direction: row;
      padding: 0;
      gap: 1.5rem;
      list-style: none;

      a.active {
        color: $color-orange;
      }
    }
  }

  .theme-toggler {
    background-color: $color-dark;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

// Dark theme styles
[data-theme='dark'] {
  nav {
    border-bottom: 2px solid $color-light;

    .menu-container {
      .theme-toggler {
        background-color: $color-light;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    height: 65px;

    .mobile-menu {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;

      p {
        font-weight: 400;
      }

      button {
        background-color: $color-dark;
        color: $color-light;
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button svg {
        transition: transform 500ms ease-in-out;
      }

      button.open svg {
        transform: rotate(180deg);
      }
    }

    .menu-container {
      position: absolute;
      background-color: $color-light;
      padding: 0;
      width: 100dvw;
      transition: height 500ms ease-in-out;

      flex-direction: column;
      justify-content: start;

      ul,
      .theme-toggler {
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: opacity 500ms ease-in-out;
      }
    }

    .menu-container.closed {
      overflow: hidden;
      height: 0px;

      ul,
      .theme-toggler {
        opacity: 0;
      }
    }

    .theme-toggler {
      padding: 0.5rem 2rem;
    }
  }

  //  Mobile dark theme styles
  [data-theme='dark'] {
    .mobile-menu {
      button {
        background-color: $color-light;
        color: $color-dark;
      }
    }

    .menu-container {
      background-color: $color-dark;
    }
  }
}
