@import '../global.scss';

.projects-container {
  .tag-list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .tag {
      border-radius: 25px;
      transition-property: background-color scale;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
    }

    .tag:hover {
      scale: 1.2;
    }

    .tag.active {
      background-color: $color-orange;
    }
  }

  .project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
