@import '../global.scss';

.project {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  border: solid $color-dark 1px;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 300px;
  box-shadow: 3px 3px;

  .project-heading {
    h3 {
      margin: 0;
      padding: 0;
    }

    .link:hover {
      text-decoration: underline;
      color: $color-orange;
    }
  }

  hr {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .project-tag {
      background-color: $color-orange;
      padding: 0.5rem;
      border-radius: 100px;
      font-size: 0.8rem;
      font-weight: bold;
      color: $color-light;
    }
  }

  a:has(.link-button) {
    margin-top: auto;
  }

  .link-button {
    text-align: center;
  }

  .link-button:hover {
    text-decoration: underline;
  }
}

#app[data-theme='dark'] {
  .project {
    border-color: $color-light;

    // .project-tag {
    //   background-color: $color-orange;
    // }

    .link:hover {
      text-decoration: underline;
      color: $color-blue;
    }
  }
}
