.section {
  width: 60%;
  border: solid 1px var(--color-dark);
  border-radius: 10px;
  box-shadow: 3px 3px;

  svg {
    transition: transform 200ms ease-in-out;
  }
}

.section.active {
  svg {
    transform: rotate(180deg);
  }
}

.section.inactive .content {
  height: 0;
}

.header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  height: auto;
  transition: height 500ms ease-in-out;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .section {
    width: 90%;
  }
}

/* #app[data-theme='dark'] {
  .section {
    border-color: var(--color-light);
  }

  .section.active {
    .header {
      border-bottom: solid 1px var(--color-dark);
    }
  }
} */
