.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1rem;
  border: solid var(--color-dark) 1px;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 300px;
  box-shadow: 3px 3px;

  .project-heading {
    h3 {
      margin: 0;
      padding: 0;
    }

    .link:hover {
      text-decoration: underline;
      color: var(--color-orange);
    }
  }

  hr {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .project-tag {
      background-color: var(--color-orange);
      padding: 0.5rem;
      border-radius: 100px;
      font-size: 0.8rem;
      font-weight: bold;
      color: var(--color-light);
    }
  }

  .project-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a:has(.link-button) {
      margin-top: auto;
    }

    .link-button {
      text-align: center;
    }

    .link-button:hover {
      text-decoration: underline;
    }
  }
}

#app[data-theme='dark'] {
  .project {
    border-color: var(--color-light);

    .link:hover {
      text-decoration: underline;
      color: var(--color-blue);
    }
  }
}
